extends ../layouts/global

block content
  article.game
    p 
		  strong WARNING: 
		  | This game is real-time multiplayer.
			| Unfortunately the network is down until I port it from tcp to Websockets.
			| So you can only see the intro and main menu for now.
		iframe(src="https://cdn.smullindesign.com/HideNSeek/" width="1000" height="700")