extends ../layouts/global

block content
  article.game
    p
      | This game is real-time multiplayer. Open this page in two browser tabs; one for each player.
      br
      | The matchmaker pairs the next two players, so if you both get the same player or no one else is there, just refresh again.
      br
      | If you control who loads first you can pick your character.
    iframe(src="http://mazehunt.smullindesign.com/" width="960" height="600")
