extends ../layouts/global

block content
  article.game
    p
      | Open this page in two browser tabs for real-time multiplayer action.
      br
      | The matchmaker pairs every two players, so if you both get the same player just have one of you refresh again.
      br
      | If you control who loads first you can pick your character.
    iframe(src="http://mazehunt.smullindesign.com/" width="960" height="600")
