extends ../layouts/global

block content
  article.game
    p This game is multiplayer via Websockets. Made with Sokol in C and compiled for WASM+WebGL2 with Emscripten.
    p The controls are: WASD to move, SPACE to jump/fly, TAB to crouch, E to use, and ` toggles console.
    iframe(src="https://cdn.smullindesign.com/meow/build/main.html" width="1000" height="700")