extends ../layouts/global

block head
  script(type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js')

block content
  article.game
		iframe(src="https://cdn.smullindesign.com/PropHunt/" width="1000" height="700")