extends ../layouts/global

block content
  article.game
    p If you get stuck at the Unity loading screen, just refresh.
    iframe(src="https://cdn.smullindesign.com/PropHunt/" width="1000" height="700")