extends layouts/global

block content
  article.home
    ul
      li
        a(href="https://www.roblox.com/games/260995970/HideNSeek-v1-0-BETA" target="_blank")
          img(src="/images/roblox-hidenseek-180x180.png")/
          | HideNSeek on Roblox
      li
        a(href="/hidenseek.html")
          img(src="/images/hidenseek-180x180.png")/
          | HideNSeek
      li
        a(href="/mazehunt.html")
          img(src="/images/mazehunt-180x180.png")/
          | Maze Hunt
      li
        a(href="/market.html")
          img(src="/images/market-180x180.png")/
          | Market
      li
        a(href="/prophunt.html")
          img(src="/images/prophunt-180x180.png")/
          | Prop Hunt
      li
        a(href="/golf-cartte.html")
          img(src="/images/golf-cartte-180x180.png")/
          | Le Golf Cartte
      li
        a(href="/pupu-panic.html")
          img(src="/images/pupu-panic-180x180.png")/
          | Pupu Panic
      li
        a(href="/meow.html")
          img(src="/images/meow-180x180.png")/
          | Meow
    .clear
