extends layouts/global

block content
  article.home
    ul
      li
        a(href="/hidenseek.html")
          img(src="/images/hidenseek-180x180.png")/
          | HideNSeek
      li
        a(href="/market.html")
          img(src="/images/market-180x180.png")/
          | Market
      li
        a(href="/golf-cartte.html")
          img(src="/images/golf-cartte-180x180.png")/
          | Le Golf Cartte
