extends layouts/global

block content
  article
    h2 Please Login
    form(method="post" action="https://games-api.mikesmullin.com:4444/login")
      div: label Username
      div: input(type="text" name="user")
      br
      div: label Password
      div: input(type="password" name="pass")
      br
      div: input(type="submit")
  
