extends layouts/global

block content
  article
    h2 New User Registration
    form(method="post" action="http://games-api.mikesmullin.com:3001/register")
      div: label Username
      div: input(type="text" name="name")
      br
      div: label Password
      div: input(type="password" name="password1")
      br
      div: label Confirm Password
      div: input(type="password" name="password2")
      br
      div: input(type="submit")
  
