extends layouts/global

block content
  article
    h2 New User Registration
    form(method="post" action="https://games-api.mikesmullin.com:4444/register")
      div: label Username
      div: input(type="text" name="name")
      br
      div: label Password
      div: input(type="password" name="password1")
      br
      div: label Confirm Password
      div: input(type="password" name="password2")
      br
      div: input(type="submit")
  
