doctype html
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title Mike's Game Portal
    link(rel='stylesheet', href='/stylesheets/global.css')
    block head

  body
    nav
      ul.left
        li: a(href="/") Games
      ul.right
        li: a(href="/register") Register
        li: a(href="/login") Login
      .clear

    block content

    script(src='/behaviors/global.js')
