doctype html
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title Mike's Game Portal
    //- script.
    //-   // use https only
    //-   if (window.location.protocol === 'http:') {
    //-     window.location = 'https:'+ window.location.href.substr(5);
    //-   }
    link(rel='stylesheet', href='/stylesheets/global.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-254701-14', 'auto');
      ga('send', 'pageview');
    block head

  body
    nav
      ul.left
        li: a(href="/") Games
      ul.right
        li: a(href="/register.html") Register
        li: a(href="/login.html") Login
      .clear

    block content

    #script(src='/behaviors/global.js')
